/*
Game Aggregator API Documentation

Universal API for casino operators to access games from multiple providers through a single integration.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package iplaygamesapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// GameTransactionsAPIService GameTransactionsAPI service
type GameTransactionsAPIService service

type ApiGetTransactionDetailsRequest struct {
	ctx context.Context
	ApiService *GameTransactionsAPIService
	id int32
}

func (r ApiGetTransactionDetailsRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.GetTransactionDetailsExecute(r)
}

/*
GetTransactionDetails Get transaction details

Retrieve detailed information about a specific transaction

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the transaction.
 @return ApiGetTransactionDetailsRequest
*/
func (a *GameTransactionsAPIService) GetTransactionDetails(ctx context.Context, id int32) ApiGetTransactionDetailsRequest {
	return ApiGetTransactionDetailsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return string
func (a *GameTransactionsAPIService) GetTransactionDetailsExecute(r ApiGetTransactionDetailsRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GameTransactionsAPIService.GetTransactionDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/game-transactions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetTransactionDetails404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTransactionHistoryRequest struct {
	ctx context.Context
	ApiService *GameTransactionsAPIService
	playerId *string
	gameId *int32
	type_ *string
	fromDate *string
	toDate *string
	limit *int32
	offset *int32
}

// Filter by player ID.
func (r ApiGetTransactionHistoryRequest) PlayerId(playerId string) ApiGetTransactionHistoryRequest {
	r.playerId = &playerId
	return r
}

// Filter by game ID.
func (r ApiGetTransactionHistoryRequest) GameId(gameId int32) ApiGetTransactionHistoryRequest {
	r.gameId = &gameId
	return r
}

// Filter by transaction type (bet, win, rollback).
func (r ApiGetTransactionHistoryRequest) Type_(type_ string) ApiGetTransactionHistoryRequest {
	r.type_ = &type_
	return r
}

// Filter transactions from date (ISO 8601).
func (r ApiGetTransactionHistoryRequest) FromDate(fromDate string) ApiGetTransactionHistoryRequest {
	r.fromDate = &fromDate
	return r
}

// Filter transactions to date (ISO 8601).
func (r ApiGetTransactionHistoryRequest) ToDate(toDate string) ApiGetTransactionHistoryRequest {
	r.toDate = &toDate
	return r
}

// Number of results per page. Default: 100.
func (r ApiGetTransactionHistoryRequest) Limit(limit int32) ApiGetTransactionHistoryRequest {
	r.limit = &limit
	return r
}

// Number of results to skip. Default: 0.
func (r ApiGetTransactionHistoryRequest) Offset(offset int32) ApiGetTransactionHistoryRequest {
	r.offset = &offset
	return r
}

func (r ApiGetTransactionHistoryRequest) Execute() (*GetTransactionHistory200Response, *http.Response, error) {
	return r.ApiService.GetTransactionHistoryExecute(r)
}

/*
GetTransactionHistory Get transaction history

Retrieve a list of game transactions for the authenticated operator

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTransactionHistoryRequest
*/
func (a *GameTransactionsAPIService) GetTransactionHistory(ctx context.Context) ApiGetTransactionHistoryRequest {
	return ApiGetTransactionHistoryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetTransactionHistory200Response
func (a *GameTransactionsAPIService) GetTransactionHistoryExecute(r ApiGetTransactionHistoryRequest) (*GetTransactionHistory200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetTransactionHistory200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GameTransactionsAPIService.GetTransactionHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/game-transactions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.playerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "player_id", r.playerId, "form", "")
	}
	if r.gameId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "game_id", r.gameId, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.fromDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from_date", r.fromDate, "form", "")
	}
	if r.toDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to_date", r.toDate, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v CancelAStandaloneFreespin401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
